<!DOCTYPE html>
<html>
    <head>
        <title>About Page - Weather</title>
                <link rel="icon" href="/img/weather.png">

        <link rel="stylesheet" href="/css/styles.css">

    </head> 
    <body>
        <div class="content">
             {{>header}}

        <img src="./img/dog1.jpg">
        </div>
       
        {{>footer}}
    </body>   
</html>